<nav class="navbar navbar-expand-lg bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><img src="/logo.png" width="45px" height="45px" style="border-radius: 50%;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
                <a class="nav-link" href="/listings/new">Add new listing</a>
            </div>

            <div class="d-flex gap-2 ms-auto">
                <%if(!currUser){%>
                    <a href="/login" class="btn btn-outline-primary btn-sm">Login</a>
                    <a href="/signup" class="btn btn-primary btn-sm">Signup</a>
                    <%}%>
                        <%if(currUser){%>
                            <a href="/logout" class="btn btn-danger btn-sm">Logout <i
                                    class="fa-solid fa-arrow-right-from-bracket"></i></a>
                            <%}%>
            </div>

        </div>
</nav>